@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Righteous&family=Roboto:wght@300&family=Rowdies&family=Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-size: 1rem;
  font-family: 'Roboto';
  
}

a {
  text-decoration: none;
  color: white;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: white;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 6rem;
  padding: 0 2.4rem;
  
}

ul {
  display: flex;
  list-style: none;
  color: white;
  gap: 1.5rem;/*substitui o padding da li*/
  align-items: center;
}




